
body {
  background-color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  margin: 15px;
}

#item {
  padding: 5px;
  width: 100%;
  border: 1px solid silver;
  background: #fff;
}

#list {
  padding: 0px;
  margin: 0px;
  list-style-position: inside;
}

#list li {
  padding: 5px;
  border-bottom: 1px dotted silver;
}